How weather is impacting the electricity demand in Victoria?
1.	Check if there is a correlation between Max temperature and Electricity demand for CITIPOWER distributor.
H1 : When Max temperature is > T_Median electricity demand is > D_Median
H0 : No such relationship

2.	Do the similar analysis for Rain and Solar

In [221]:
import pandas as pd
import datetime
import glob
import calendar

In [222]:
def refactor_weather_data(bomDF,year):    
    dateslist = pd.date_range(start=f'1/1/{year}', end=f'31/12/{year}')
    weatherlist  = bomDF['Jan'].tolist()
    if calendar.isleap(year):
        weatherlist = weatherlist + bomDF['Feb'].tolist()[0:29]
    else:
        weatherlist = weatherlist + bomDF['Feb'].tolist()[0:28]          
    weatherlist = weatherlist + bomDF['Mar'].tolist() + bomDF['Apr'].tolist()[0:30] + bomDF['May'].tolist() + bomDF['Jun'].tolist()[0:30] + bomDF['Jul'].tolist() + bomDF['Aug'].tolist() + bomDF['Sep'].tolist()[0:30] + bomDF['Oct'].tolist() + bomDF['Nov'].tolist()[0:30] + bomDF['Dec'].tolist()

    weatherDF = pd.DataFrame({'Date': dateslist, 'Measure': weatherlist})

    return weatherDF

In [223]:

dir = 'BOM/Resources/Weather/_*.csv'
files = glob.glob(dir)
weatherDF = pd.DataFrame()
for f in files:
    filenamelist = f.split("_")
    df = refactor_weather_data(pd.read_csv(f),int(filenamelist[2]))
    df['Distributor'] = filenamelist[1] 
    if filenamelist[3] == '122':
        df['MeasurementType'] = 'MaxTemp'
    elif filenamelist[3] == '123':
        df['MeasurementType'] = 'MinTemp'
    elif filenamelist[3] == '136':
        df['MeasurementType'] = 'Rain Fall'
    elif filenamelist[3] == '193':
        df['MeasurementType'] = 'Solar Exposure'          
    weatherDF = weatherDF.append(df,ignore_index=True)
weatherDF.to_csv('BOM/Resources/Weather/weather.csv')

In [224]:
weatherDF.head()

        Date Measure Distributor MeasurementType
0 2015-01-01    26.2      AusNet         MaxTemp
1 2015-01-02    32.5      AusNet         MaxTemp
2 2015-01-03    38.9      AusNet         MaxTemp
3 2015-01-04    25.4      AusNet         MaxTemp
4 2015-01-05    27.3      AusNet         MaxTemp

In [225]:
# Load the processed demand data from Electricity Demand Analysis 'Meter data/Demand.csv'

demand_df = pd.read_csv('Meter data/Demand.csv')
demand_df.head(20)

,Measure_Date,Distributor,Daily_Demand,Business_Demand,Non_Business_Demand
0,2014-04-01,CITIPOWER,6363749.701,3259495,3104254
1,2014-04-02,CITIPOWER,5630825.535,2824205,2806620
2,2014-04-03,CITIPOWER,5173891.385,2588082,2585809
3,2014-04-04,CITIPOWER,5044050.180,2520818,2523232
4,2014-04-05,CITIPOWER,4383318.300,0,4383318
5,2014-04-06,CITIPOWER,4262109.115,0,4262109
6,2014-04-07,CITIPOWER,5099462.930,2508555,2590907
7,2014-04-08,CITIPOWER,5181023.405,2547175,2633848
8,2014-04-09,CITIPOWER,5263781.889,2592281,2671500
9,2014-04-10,CITIPOWER,5291241.455,2603369,2687872
10,2014-04-11,CITIPOWER,5253397.465,2604862,2648535
11,2014-04-12,CITIPOWER,4462922.879,0,4462922
12,2014-04-13,CITIPOWER,4318969.114,0,4318969
13,2014-04-14,CITIPOWER,5128605.399,2461575,2667030
14,2014-04-15,CITIPOWER,5158090.480,2475091,2682999
15,2014-04-16,CITIPOWER,5214111.668,2514711,2699400
16,2014-04-17,CITIPOWER,5042052.798,2467819,2574233
17,2014-04-18,CITIPOWER,4251321.740,1852343,2398978
18,2014-04-19,CITIPOWER,4279159.798,0,4279159
19,2014-04-20,CITIPOWER,4087389.303,0,4087389